.canvasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
  align-items: center;
  animation: fadeCanvas 1.25s ease-out;
}

.CanvasForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.canvasFormInputs {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-size: 1.5vw;
}

.canvasFormInputs p {
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 2vh;
}

.canvasButton {
  margin-top: 1vh;
  background-color: black;
  color: white;
  border: none;
  padding: 0.8vw;
  font-family: 'Roboto Mono', monospace;
  font-size: 1vw;
  width: auto;
  align-self: center;
}

.canvasButton:hover {
  transform: scale(1.05);
}

.canvasButton:active {
  transform: scale(1.05);
  filter: drop-shadow(2px 2px 2px black);
}

.CanvasControls {
  display: flex;
  gap: 2vh;
  margin-bottom: 10vh;
}

.canvasSelect {
  margin-top: 1vh;
  background-color: white;
  border: black 0.3vw solid;
  padding: 0.42vw;
  font-family: monospace;
  font-size: 1vw;
  width: auto;
  align-self: center;
}

.canvasTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vh;
}

.promptButton {
  border: 0.3vw solid black;
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1vw;
  padding: 0.5vw 1.5vw;
  margin-top: 1vh;
  width: 15vw;
  align-self: center;
}

.promptButton:hover {
  transform: scale(1.05);
}

.promptButton:active {
  transform: scale(1.05);
  filter: drop-shadow(2px 2px 2px black);
}

.ToolBar {
  margin-top: 4vh;
}

.toolBarButton {
  background-color: transparent;
  border: none;
}

.toolBarButton:hover {
  transform: scale(1.1);
}

.toolBarButton:focus {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 2px black);
}

.toolBarImg {
  height: 3vw;
}

.toolBarInput {
  height: 3vw;
}

.toolBarInput:hover {
  transform: scale(1.2);
}

input[type='color'] {
  display: none;
}

.guestControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.guestControls p {
  font-family: monospace;
  font-size: 2vh;
}

@keyframes fadeCanvas {
  0%,
  40% {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
