.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 0 0 0;
  width: 80vw;
}

.headerLogo {
  font-size: 3vw;
  cursor: pointer;
}

.headerLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.headerLink {
  font-size: 1.5vw;
  font-family: monospace;
}

.headerButton {
  background-color: white;
  border: black 0.3vw solid;
  padding: 0.5vw;
  font-family: monospace;
  font-size: 1vw;
}

.headerButton:hover {
  transform: scale(1.02);
}

.headerButton:active {
  transform: scale(1.02);
  filter: drop-shadow(1px 1px 1px black);
}

.headerButton {
  background-color: white;
  border: black 0.3vw solid;
  padding: 0.5vw;
  font-family: monospace;
  font-size: 1vw;
}

.headerButton:hover {
  transform: scale(1.02);
}

.headerButton:active {
  transform: scale(1.02);
  filter: drop-shadow(1px 1px 1px black);
}
