.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2vw;
  padding-top: 6vw;
  padding-bottom: 10vw;
  animation: fadeProfile 1s ease-out;
}

.profileGrid {
  border: 5px solid black;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6vh 0 2vh 0;
  gap: 2vh;
  animation: fadeProfile 1s ease-out;
}

.profileTitle {
  font-size: clamp(54px, 5vw, 96px);
  font-family: var(--font-secondary);
}

.profileCaption {
  width: 60%;
  text-align: center;
  font-size: clamp(21px, 2vw, 32px);
  line-height: 0.9;
  font-family: var(--font-secondary);
}

.imageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.imageTitle {
  font-family: var(--font-secondary);
  font-size: clamp(25px, 3vw, 40px);
  text-transform: capitalize;
}

.imageTag {
  text-transform: uppercase;
  font-family: var(--primary);
  font-size: clamp(8px, 1vw, 12px);
}

.imageButtons {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 1vh;
}

.imageButton {
  background-color: black;
  color: white;
  /* border: black 0.3vw solid; */
  border: none;
  padding: 0.5vw 0.9vw;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9vw;
}
.imageButton:hover {
  transform: scale(1.02);
}

.imageButton:active {
  transform: scale(1.02);
  filter: drop-shadow(1px 1px 1px black);
}

.createButton {
  font-size: 1.2vw;
  margin-top: 2vh;
  padding: 1vw;
}

@keyframes fadeProfile {
  0%,
  40% {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
