.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2vw;
  padding-top: 6vw;
  padding-bottom: 10vw;
}

.profileGrid {
  border: 5px solid black;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6vh 0 2vh 0;
  gap: 2vh;
}

.profileTitle {
  font-size: 3vw;
}

.profileCaption {
  width: 60%;
  text-align: center;
  font-size: 1.2vw;
}

.image {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 250px;
  width: 250px;
}

.imageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vh;
}

.imageTitle {
  text-transform: capitalize;
  font-size: 2vw;
}

.imageTag {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2vw;
}

.imageButtons {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 1vh;
}

.imageButton {
  background-color: black;
  color: white;
  /* border: black 0.3vw solid; */
  border: none;
  padding: 0.5vw 0.9vw;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9vw;
}
.imageButton:hover {
  transform: scale(1.02);
}

.imageButton:active {
  transform: scale(1.02);
  filter: drop-shadow(1px 1px 1px black);
}

.createButton {
  font-size: 1.2vw;
  margin-top: 2vh;
  padding: 1vw;
}
