.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
  margin: 10vh 10vh 10vh 10vh;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSideCaption {
  width: 75%;
  font-size: 3vw;
  margin-top: 12vh;
}

.rightSide {
  background-color: black;
  height: 40vw;
}

.pixelImg {
  height: 40vw;
  border: 0.5vw solid black;
}

.signIn {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 1.2vw;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2vw;
}

.button:hover {
  transform: scale(1.02);
}

.button:active {
  transform: scale(1.02);
  filter: drop-shadow(1px 1px 1px black);
}
