.Home {
  display: flex;
  flex-direction: row;
}

.leftSide {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.signIn {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

.link {
  margin-right: 25px;
}
